/*默认数字键盘样式*/
#keyboard{z-index: 0324;position:fixed;left:0;bottom:0;right:0;width:100%;height:213px;display:block}
#keyboard{font-size: 27px}
#keyboard-table{text-align:center;width:100%;height:215px;border-top:0 solid #CECDCE;background-color:#FFF}
#keyboard-table td{width:33%;height:25%;border:1px solid #c9c9c9;border-right:0;border-top:0; -webkit-user-select: none;-webkit-touch-callout:none}
#keyboard-table td span{display:block;margin-top:-2px;font-size:11px !important}

#keyboard-table td:hover{background-color:#c9c9c9;color:#FFF}
#keyboard-table td:active{background-color:#c9c9c9;color:#FFF}
#keyboard-table .td-default{background-color:#d0d5dc}
#keyboard-table .td-default:hover{background-color:#c9c9c9 !important}
#keyboard-table .td-default:active{background-color:#c9c9c9 !important}
#keyboard-table .td-disabled{background-color:#d0d5dc}
#keyboard-table .td-disabled:hover{background-color:#d0d5dc}
#keyboard-table .td-disabled:active{background-color:#d0d5dc}
#keyboard-table .td-primary{background-image: url("../img/delete.png");background-repeat: no-repeat; background-position: 50% 50%;background-size:23px 17px}
#keyboard-table .td-primary:hover{background-image: url("../img/delete_w.png")}
#keyboard-btn{position:fixed;right:0;bottom:213px;width:100%;height:40px;padding-right: 10px;
    background-color:#d0d5dc;margin-right:0px;margin-bottom:0px;text-align:right;color:#11adff;
    border-radius:0px;font-size:16px;line-height:38px;cursor:pointer}
#keyboard-btn small{ font-size: 16px}